.dashboard {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #D714D1;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .highlight {
    font-weight: bold;
    background-color: rgba(255, 215, 0, 0.3) !important; 
  }
  
  .currentUser {
    font-weight: bold;
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
  }
  